1 9,21 * * * ./local/robosanta/python/robosanta/cron.sh --naruto
2 9,21 * * * ./local/robosanta/python/robosanta/cron.sh --ripe-zombie
3 9,21 * * * ./local/robosanta/python/robosanta/cron.sh --code-only-answer
